.mySwiper{
    width: 92%;
    text-align: center;
    --swiper-navigation-color: #ef0f0f;
    --swiper-pagination-color:  #ef0f0f;


  
    .swiper_img{
        // display: block;
        // width: 100%;
        // height: 600px;
        // object-fit: cover;
    }
 }