<div class="footer">
    <div class="footer_top">
        <div>

            <div class="footer_logo">
                <img src="../../../assets/images/LOGO.png" alt="">
                <p>
                    Subscribe to our social networks and stay up to date with the
                    latest news!
                </p>
            </div>
            <nav class="footer_nav">
              @for (item of pageNames; track $index) {
                <a >{{item}}</a>
              }
            </nav>


        </div>
        <div class="social_media"></div>
        <div class="our_contacts"></div>
    </div>
    <div class="footer_botom"></div>
</div>