<div class="gallery">
    <h3>Gallery of consumption process</h3>
    <div class="gallery_photos">

        <div class="gallery_left">
            <img src="../../../assets/images/Group 64.png" alt="">
        </div>
        <div class="gallery_right">
            <div>
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
            </div>
            <div>
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
                <img class="gallery_photo__right" src="../../../assets/images/Group 64.png" alt="">
            </div>
        </div>
    </div>
    @if (wayToShowroom) {
    <div>
        <button class="info_btns">
            <img src="../../../assets/images/Map 3D 1.png" alt="">
            <div [routerLink]="['/showroom']"  >
                360° Showroom →
            </div>
        </button>
    </div>
    }
</div>