<div class="expension_panel">
    <div class="expension_panel__header" (click)="togglePanel()">
        <h3>{{question}}</h3>
        <!-- <span class="icon">{{ isOpen ? '-' : '+' }}</span> -->
        @if (isOpen) {
            <span class="icon">
                <img src="../../../assets/images/minus.png" alt="">
            </span>
        }@else {
            <span class="icon">
                <img src="../../../assets/images/plus.png" alt="">
            </span>
        }
    </div>
    <div class="expansion_panel__content" [@slideToggle]="isOpen ? 'open' : 'closed'">
        <p>
          {{answer}}
        </p>
    </div>

</div>