<section class="contacts">

    <div class="inner_contacts">
        <h3>Contacts</h3>
        <div class="location">
            <div class="contact_map">
                <img src="../../../assets/images/map.png" alt="">
                <div>
                    <button>show on map →</button>
                </div>
                <div class="map_position">
                    <img src="../../../assets/images/position.png" alt="">
                </div>
            </div>
            <div class="contact">
                <div class="about_us__section">
                    <button class="info_btns">
                        <img src="../../../assets/images/mention 1.png" alt="">
                        <div><u>info&#64;redesign.expert →</u></div>
                    </button>
                    <button class="info_btns">
                        <img src="../../../assets/images/messages badge 1.png" alt="">
                        <div>
                            <u> Chat with us →</u>
                        </div>
                    </button>
                    <button class="info_btns">
                        <img src="../../../assets/images/Telegram 1.png" alt="">
                        <div>
                            <u> Contact via Telegram →</u>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <app-cooperete></app-cooperete>


</section>