<div class="home">
    <h1>HOME</h1>

    <div class="swiper">
        <app-swiper-pagination>
            <swiper-slide>
                <img class="swiper_img"
                    src="https://i.etsystatic.com/20031322/r/il/1d1115/3299271386/il_570xN.3299271386_cs38.jpg" alt="">
            </swiper-slide>

            <swiper-slide>
                <img class="swiper_img"
                    src="https://i.etsystatic.com/20031322/r/il/1d1115/3299271386/il_570xN.3299271386_cs38.jpg" alt="">
            </swiper-slide>

            <swiper-slide>
                <img class="swiper_img"
                    src="https://i.etsystatic.com/20031322/r/il/1d1115/3299271386/il_570xN.3299271386_cs38.jpg" alt="">
            </swiper-slide>

        </app-swiper-pagination>

        <div class="about_us__section">
            <button class="info_btns">
                <img src="../../../assets/images/3 User 1.png" alt="">
                <div>About Us →</div>
            </button>
            <button class="info_btns">
                <img src="../../../assets/images/Car 1.png" alt="">
                <div>
                    More about toys →
                </div>
            </button>
        </div>
    </div>

    <div class="categories">
        <h3 class="categories_title"> Toys categories</h3>
        <div class="categories_cards">
            @for (item of toys; track $index) {

            <app-card-toys [toysItem]="item"></app-card-toys>
            }


        </div>

    </div>
    <hr>
    <app-virtual-room [place]="'home'"></app-virtual-room>
    <hr>
    <div class="our_clients__comments">
        <h3>
            Our clients are satisfied with us
        </h3>
        <app-client-card>


        </app-client-card>
    </div>
    <div class="quesion_panel">
        <h3>Frequently asked questions</h3>
        <div class="panels">
            @for (item of questionsArr; track $index) {
            <app-question-panel [answer]="item.answer" [question]="item.question"></app-question-panel>
            }


        </div>
    </div>

    <div class="our_clients">
        <h3>
            Our clients
        </h3>
        <div>
            <div class="clients_swiper">
                <app-slider></app-slider>
            </div>
        </div>
    </div>


    <hr>
    <app-cooperete></app-cooperete>


</div>