<div class="home">
    <h1>HOME</h1>

    <div class="swiper">
        <app-swiper-pagination>
            <swiper-slide>
                <img class="swiper_img"
                    src="https://i.etsystatic.com/20031322/r/il/1d1115/3299271386/il_570xN.3299271386_cs38.jpg" alt="">
            </swiper-slide>

            <swiper-slide>
                <img class="swiper_img"
                    src="https://i.etsystatic.com/20031322/r/il/1d1115/3299271386/il_570xN.3299271386_cs38.jpg" alt="">
            </swiper-slide>

            <swiper-slide>
                <img class="swiper_img"
                    src="https://i.etsystatic.com/20031322/r/il/1d1115/3299271386/il_570xN.3299271386_cs38.jpg" alt="">
            </swiper-slide>

        </app-swiper-pagination>

        <div class="about_us__section">
            <button class="info_btns">
                <img src="../../../assets/images/3 User 1.png" alt="">
                <div>About Us →</div>
            </button>
            <button class="info_btns">
                <img src="../../../assets/images/Car 1.png" alt="">
                <div>
                    More about toys →
                </div>
            </button>
        </div>
    </div>


    <div class="categories">
        <h3 class="categories_title"> Toys categories</h3>
        <div class="categories_cards">
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
            <app-card-toys></app-card-toys>
        </div>

    </div>

    <div class="showroom">
        <h3 class="showroom_title">360° Showroom</h3>
        <div class="showroom_video">
            <img src="https://images.pexels.com/photos/1457842/pexels-photo-1457842.jpeg?cs=srgb&dl=pexels-jvdm-1457842.jpg&fm=jpg"
                alt="">
        </div>


        <div class="about_us__section">
            <button class="info_btns">
                <img src="../../../assets/images/3 User 1.png" alt="">
                <div>Documents for B2B sales →</div>
            </button>
            <button class="info_btns">
                <img src="../../../assets/images/Car 1.png" alt="">
                <div>
                    Download certificate ↓
                </div>
            </button>
        </div>
    </div>

    <div class="our_clients__comments">
        <app-client-card></app-client-card>
    </div>

    <div class="quesion_panel">
        <h3>Frequently asked questions</h3>
        <div class="panels">
            <app-question-panel></app-question-panel>
            <app-question-panel></app-question-panel>
            <app-question-panel></app-question-panel>
            <app-question-panel></app-question-panel>
        </div>
    </div>

    <div class="our_clients">
        <h3>
            Our clients
        </h3>
        <div>
            <div class="clients_swiper">
                <app-swiper-pagination>





                    <swiper-slide>
                        <div class="client">
                            <img src="https://www.kindpng.com/picc/m/410-4101173_zendesk-hd-png-download.png" alt="">
                        </div>

                    </swiper-slide>
                    <swiper-slide>
                        <div class="client">
                            <img src="https://www.kindpng.com/picc/m/410-4101173_zendesk-hd-png-download.png" alt="">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="client">
                            <img src="https://www.kindpng.com/picc/m/410-4101173_zendesk-hd-png-download.png" alt="">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="client">
                            <img src="https://www.kindpng.com/picc/m/410-4101173_zendesk-hd-png-download.png" alt="">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="client">
                            <img src="https://www.kindpng.com/picc/m/410-4101173_zendesk-hd-png-download.png" alt="">
                        </div>
                    </swiper-slide>
                    <swiper-slide>
                        <div class="client">
                            <img src="https://www.kindpng.com/picc/m/410-4101173_zendesk-hd-png-download.png" alt="">
                        </div>
                    </swiper-slide>

                </app-swiper-pagination>
            </div>
        </div>
    </div>

    <div class="cooperate_section">
        <div class="cooperete_emails">
            <h3>
                Lets cooperate together ↗
            </h3>
         
                <label>
                    <img src="./images/Profile 2.png" alt="">
                    <input class="name" type="text">
                </label>
                <label class="email_lab">
                    <img src="/toys/src/assets/images/mention 1.png" alt="">
                    <input class="email" type="text">
                </label>
         
            <div>
                <input class="are_inp" type="text">
            </div>
            <div>
                <button>send message →</button>
            </div>


        </div>
        <div class="cooperete_contacts">
            <div>
                <span>
                    <img src="" alt="">
                </span>
                <p>(71) 200-70-60</p>
            </div>
            <div>
                <span>
                    <img src="" alt="">
                </span>
                <p>Working days Monday — Friday / from 09:00 am to 20:00 pm.</p>
            </div>
            <div>
                <span>
                    <img src="" alt="">
                </span>
                <p>Uzbekistan / Tashkent City / Olmazor district / Karasaray street 3.</p>
            </div>
        </div>
    </div>




</div>