<div class="card">
    <div class="slider">
        <div class="slide-track">
            @for (item of clients; track $index) {
            <div class="slide">
                <div class="clients_card">
                    <div class="card_top">
                        <p>
                            {{item.comment}}
                        </p>
                    </div>
                    <div class="card_bottom">
                        <div class="client">
                            <span> {{item.profesion}} </span>
                            <p> {{item.name}} </p>
                        </div>
                        <div class="imgage">
                            <img [src]="item.imgSrc" alt="logo">
                        </div>

                    </div>
                </div>
            </div>
            }


        </div>
    </div>
    <div class="slider">
        <div class="slide-track">

            @for (item of clients; track $index) {
            <div class="slide">
                <div class="clients_card">
                    <div class="card_top">
                        <p>
                            {{item.comment}}
                        </p>
                    </div>
                    <div class="card_bottom">
                        <div class="client">
                            <span> {{item.profesion}} </span>
                            <p> {{clients[0].name}} </p>
                        </div>
                        <div class="imgage">
                            <img [src]="item.imgSrc" alt="logo">
                        </div>

                    </div>
                </div>
            </div>
            }


        </div>
    </div>
</div>


