<div class="cooperate_section">
    <div class="cooperete_emails">
        <h3>
            Lets cooperate together ↗
        </h3>

        <div class="social">
            <label class="email_lab">
                <div class="profile_icon">
                    <img src="../../../assets/images/Profile 2.png" alt="">
                </div>
                <input class="name" type="text">
            </label>
            <label class="email_lab">
                <div class="profile_icon">
                    <img src="../../../assets/images/mention 1.png" alt="">
                </div>
                <input class="email" type="text">
            </label>
        </div>


        <div class="comment_place">
            <!-- <input class="are_inp" type="text"> -->
            <textarea  class="are_inp" placeholder="Please type your message..."></textarea>
        </div>
        <div class="send_msg">
            <button>SEND MESSAGE →</button>
        </div>


    </div>
    <div class="our_contacts">
        <div class="contact">
            <span>
                <img src="../../../assets/images/call.png" alt="">
            </span>
            <p>(71) 200-70-60</p>
        </div>
        <div class="contact">
            <span>
                <img src="../../../assets/images/calendar.png" alt="">
            </span>
            <p>Working days Monday — Friday / from 09:00 am to 20:00 pm.</p>
        </div>
        <div class="contact">
            <span>
                <img src="../../../assets/images/location.png" alt="">
            </span>
            <p>Uzbekistan / Tashkent City / Olmazor district / Karasaray street 3.</p>
        </div>

    </div>
</div>